    <!-- モーダルフォーム -->
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center" style="padding: 0; margin-top: -10px;">
                        <!-- メインのフォーム -->
                        <div class="login-form-1">
                            <form id="register-form" class="text-left" method="post">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="reg_date">起きてしまった日付<span class="required">*</span></label>
                                            <input type="date" class="form-control" id="reg_date" name="reg_date">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_country">起きてしまった国<span class="required">*</span></label>
                                            <select name="country" size="4" id="country" class="form-control chosen-select" data-size="3">
                                                <option value="Iceland" data-id="ihus0p030000y03">アイスランド</option>
                                                <option value="Ireland" data-id="ihus0ozz00000eg">アイルランド</option>
                                                <option value="Azerbaijan" data-id="ihus0oxc00000cx">アゼルバイジャン</option>
                                                <option value="Afghanistan" data-id="ihus0ovv0000p16">アフガニスタン</option>
                                                <option value="United States of America" data-id="ihus0p3u0000u86">アメリカ合衆国</option>
                                                <option value="United Arab Emirates" data-id="ihus0ox300001h3">アラブ首長国連邦</option>
                                                <option value="Algeria" data-id="ihus0oyp0000009">アルジェリア</option>
                                                <option value="Argentina" data-id="ihus0ox4000004x">アルゼンチン</option>
                                                <option value="Albania" data-id="ihus0ox10000017">アルバニア</option>
                                                <option value="Armenia" data-id="ihus0ox50000b76">アルメニア</option>
                                                <option value="Angola" data-id="ihus0ow40000x4d">アンゴラ</option>
                                                <option value="Yemen" data-id="ihus0p4200003qx">イエメン</option>
                                                <option value="United Kingdom" data-id="ihus0oz80000fz6">イギリス</option>
                                                <option value="Israel" data-id="ihus0p040000ms6">イスラエル</option>
                                                <option value="Italy" data-id="ihus0p060000ff1">イタリア</option>
                                                <option value="Iraq" data-id="ihus0p0100008gb">イラク</option>
                                                <option value="Iran" data-id="ihus0p000000uyj">イラン</option>
                                                <option value="India" data-id="ihus0ozx0000x76">インド</option>
                                                <option value="Indonesia" data-id="ihus0ozw0000gae">インドネシア</option>
                                                <option value="Uganda" data-id="ihus0p3q00003ed">ウガンダ</option>
                                                <option value="Ukraine" data-id="ihus0p3r00009w7">ウクライナ</option>
                                                <option value="Uzbekistan" data-id="ihus0p3v0000i5o">ウズベキスタン</option>
                                                <option value="Uruguay" data-id="ihus0p3t0000gno">ウルグアイ</option>
                                                <option value="Ecuador" data-id="ihus0oyr0000hro">エクアドル</option>
                                                <option value="Egypt" data-id="ihus0oys0000lvk">エジプト</option>
                                                <option value="Estonia" data-id="ihus0oyx0000ro9">エストニア</option>
                                                <option value="Ethiopia" data-id="ihus0oyy00007jk">エチオピア</option>
                                                <option value="Eritrea" data-id="ihus0oyu00005c4">エリトリア</option>
                                                <option value="El Salvador" data-id="ihus0p2s0000e61">エルサルバドル</option>
                                                <option value="Oman" data-id="ihus0p1u0000bof">オマーン</option>
                                                <option value="Netherlands" data-id="ihus0p1n0000nut">オランダ</option>
                                                <option value="Australia" data-id="ihus0ox90000ip6">オーストラリア</option>
                                                <option value="Austria" data-id="ihus0oxb0000d6v">オーストリア</option>
                                                <option value="Kazakhstan" data-id="ihus0p0b0000jum">カザフスタン</option>
                                                <option value="Qatar" data-id="ihus0p2a0000f26">カタール</option>
                                                <option value="Canada" data-id="ihus0oy10000y1s">カナダ</option>
                                                <option value="Cameroon" data-id="ihus0oy80000wse">カメルーン</option>
                                                <option value="Cambodia" data-id="ihus0p0f00001jy">カンボジア</option>
                                                <option value="Guyana" data-id="ihus0ozn00008kv">ガイアナ</option>
                                                <option value="Gabon" data-id="ihus0oz6000015c">ガボン</option>
                                                <option value="Gambia" data-id="ihus0oze0000ekw">ガンビア</option>
                                                <option value="Ghana" data-id="ihus0ozb0000ijb">ガーナ</option>
                                                <option value="Cyprus" data-id="ihus0oyh0000dfq">キプロス</option>
                                                <option value="Cuba" data-id="ihus0oyf0000stm">キューバ</option>
                                                <option value="Kyrgyzstan" data-id="ihus0p0e0000dbv">キルギス</option>
                                                <option value="Guinea" data-id="ihus0ozd0000mqp">ギニア</option>
                                                <option value="Guinea Bissau" data-id="ihus0ozf0000k8e">ギニアビサウ</option>
                                                <option value="Greece" data-id="ihus0ozj0000i8x">ギリシャ</option>
                                                <option value="Kuwait" data-id="ihus0p0i000073p">クウェート</option>
                                                <option value="Croatia" data-id="ihus0ozr0000b4l">クロアチア</option>
                                                <option value="Guatemala" data-id="ihus0ozm0000sgy">グアテマラ</option>
                                                <option value="Greenland" data-id="ihus0ozk0000t2t">グリーンランド</option>
                                                <option value="Georgia" data-id="ihus0oza0000xow">グルジア</option>
                                                <option value="Kenya" data-id="ihus0p0d0000lem">ケニア</option>
                                                <option value="Costa Rica" data-id="ihus0oye0000g51">コスタリカ</option>
                                                <option value="Colombia" data-id="ihus0oyc0000hmp">コロンビア</option>
                                                <option value="Republic of the Congo" data-id="ihus0oyb0000rba">コンゴ共和国</option>
                                                <option value="Democratic Republic of the Congo" data-id="ihus0oy90000vhg">コンゴ民主共和國</option>
                                                <option value="Ivory Coast" data-id="ihus0oy70000srr">コートジボワール</option>
                                                <option value="Saudi Arabia" data-id="ihus0p2j00004lc">サウジアラビア</option>
                                                <option value="Zambia" data-id="ihus0p450000zg0">ザンビア</option>
                                                <option value="Sierra Leone" data-id="ihus0p2q0000sky">シエラレオネ</option>
                                                <option value="Syria" data-id="ihus0p380000a24">シリア</option>
                                                <option value="Djibouti" data-id="ihus0oyl0000nkr">ジブチ</option>
                                                <option value="Jamaica" data-id="ihus0p070000l8t">ジャマイカ</option>
                                                <option value="Zimbabwe" data-id="ihus0p46000091j">ジンバブエ</option>
                                                <option value="Switzerland" data-id="ihus0oy20000zrx">スイス</option>
                                                <option value="Sweden" data-id="ihus0p360000u4v">スウェーデン</option>
                                                <option value="Spain" data-id="ihus0oyv00001r0">スペイン</option>
                                                <option value="Suriname" data-id="ihus0p320000lwf">スリナム</option>
                                                <option value="Sri Lanka" data-id="ihus0p0q0000vbr">スリランカ</option>
                                                <option value="Slovakia" data-id="ihus0p330000g4s">スロバキア</option>
                                                <option value="Slovenia" data-id="ihus0p35000040x">スロベニア</option>
                                                <option value="Swaziland" data-id="ihus0p370000lm4">スワジランド</option>
                                                <option value="Sudan" data-id="ihus0p2l00006qm">スーダン</option>
                                                <option value="Equatorial Guinea" data-id="ihus0ozh0000k0i">赤道ギニア</option>
                                                <option value="Senegal" data-id="ihus0p2n0000e5r">セネガル</option>
                                                <option value="Republic of Serbia" data-id="ihus0p300000xqb">セルビア</option>
                                                <option value="Somalia" data-id="ihus0p2z0000vav">ソマリア</option>
                                                <option value="Solomon Islands" data-id="ihus0p2o0000og8">ソロモン諸島</option>
                                                <option value="Thailand" data-id="ihus0p3d0000bdh">タイ</option>
                                                <option value="South Korea" data-id="ihus0p0g0000iqz">大韓民国</option>
                                                <option value="Taiwan" data-id="ihus0p3n000019o">台湾</option>
                                                <option value="Tajikistan" data-id="ihus0p3f0000tsc">タジキスタン</option>
                                                <option value="United Republic of Tanzania" data-id="ihus0p3p00008iy">タンザニア</option>
                                                <option value="Czech Republic" data-id="ihus0oyi00008w3">チェコ</option>
                                                <option value="Chad" data-id="ihus0p3a0000b1t">チャド</option>
                                                <option value="Central African Republic" data-id="ihus0oxz0000ta1">中央アフリカ</option>
                                                <option value="China" data-id="ihus0oy50000n6j">中華人民共和国</option>
                                                <option value="Tunisia" data-id="ihus0p3k0000lg5">チュニジア</option>
                                                <option value="North Korea" data-id="ihus0p260000r0y">朝鮮民主主義人民共和国</option>
                                                <option value="Chile" data-id="ihus0oy40000dwc">チリ</option>
                                                <option value="Denmark" data-id="ihus0oym0000kge">デンマーク</option>
                                                <option value="Trinidad and Tobago" data-id="ihus0p3i0000pf6">トリニダード・トバゴ</option>
                                                <option value="Turkmenistan" data-id="ihus0p3g0000xhk">トルクメニスタン</option>
                                                <option value="Turkey" data-id="ihus0p3m0000u6d">トルコ</option>
                                                <option value="Togo" data-id="ihus0p3c0000wi7">トーゴ</option>
                                                <option value="Germany" data-id="ihus0oyj000028g">ドイツ</option>
                                                <option value="Dominican Republic" data-id="ihus0oyo0000rnf">ドミニカ共和国</option>
                                                <option value="Nigeria" data-id="ihus0p1k0000ijj">ナイジェリア</option>
                                                <option value="Namibia" data-id="ihus0p1f000027v">ナミビア</option>
                                                <option value="Antarctica" data-id="ihus0ox700009b2">南極</option>
                                                <option value="French Southern and Antarctic Lands" data-id="ihus0ox800008m6">南方・南極地域</option>
                                                <option value="Nicaragua" data-id="ihus0p1l0000y58">ニカラグア</option>
                                                <option value="Niger" data-id="ihus0p1i0000983">ニジェール</option>
                                                <option value="Western Sahara" data-id="ihus0p2i0000kd5">西サハラ</option>
                                                <option value="Japan" data-id="ihus0p090000dzo">日本</option>
                                                <option value="New Caledonia" data-id="ihus0p1h0000pjl">ニューカレドニア</option>
                                                <option value="New Zealand" data-id="ihus0p1s00001wb">ニュージーランド</option>
                                                <option value="Nepal" data-id="ihus0p1r0000sli">ネパール</option>
                                                <option value="Norway" data-id="ihus0p1p00006jb">ノルウェー</option>
                                                <option value="Haiti" data-id="ihus0ozt0000mcn">ハイチ</option>
                                                <option value="Hungary" data-id="ihus0ozu0000r1r">ハンガリー</option>
                                                <option value="Vanuatu" data-id="ihus0p400000rpt">バヌアツ</option>
                                                <option value="The Bahamas" data-id="ihus0oxm00003li">バハマ</option>
                                                <option value="Bangladesh" data-id="ihus0oxj0000hh9">バングラデシュ</option>
                                                <option value="Pakistan" data-id="ihus0p1v0000m7q">パキスタン</option>
                                                <option value="Panama" data-id="ihus0p1w0000bw7">パナマ</option>
                                                <option value="Papua New Guinea" data-id="ihus0p220000zv5">パプアニューギニア</option>
                                                <option value="Paraguay" data-id="ihus0p29000091a">パラグアイ</option>
                                                <option value="East Timor" data-id="ihus0p3h0000u0r">東ティモール</option>
                                                <option value="Fiji" data-id="ihus0oz10000jay">フィジー</option>
                                                <option value="Philippines" data-id="ihus0p210000u9k">フィリピン</option>
                                                <option value="Finland" data-id="ihus0oz00000ijf">フィンランド</option>
                                                <option value="Falkland Islands" data-id="ihus0oz300007ql">フォークランド諸島</option>
                                                <option value="France" data-id="ihus0oz40000x31">フランス</option>
                                                <option value="French Guiana" data-id="ihus0oz500008k6">フランス領ギアナ</option>
                                                <option value="Brazil" data-id="ihus0oxu0000s45">ブラジル</option>
                                                <option value="Bulgaria" data-id="ihus0oxk0000etk">ブルガリア</option>
                                                <option value="Burkina Faso" data-id="ihus0oxi000020o">ブルキナファソ</option>
                                                <option value="Brunei" data-id="ihus0oxv0000xqq">ブルネイ</option>
                                                <option value="Burundi" data-id="ihus0oxe00003gn">ブルンジ</option>
                                                <option value="Bhutan" data-id="ihus0oxw0000ho9">ブータン</option>
                                                <option value="Puerto Rico" data-id="ihus0p25000084q">プエルトリコ</option>
                                                <option value="Vietnam" data-id="ihus0p3y0000jq0">ベトナム</option>
                                                <option value="Benin" data-id="ihus0oxg000085x">ベナン</option>
                                                <option value="Venezuela" data-id="ihus0p3w000036x">ベネズエラ</option>
                                                <option value="Belarus" data-id="ihus0oxp00000yx">ベラルーシ</option>
                                                <option value="Belize" data-id="ihus0oxr0000brj">ベリーズ</option>
                                                <option value="Belgium" data-id="ihus0oxf0000ws5">ベルギー</option>
                                                <option value="Peru" data-id="ihus0p1z000031o">ペルー</option>
                                                <option value="Honduras" data-id="ihus0ozp0000fxm">ホンジュラス</option>
                                                <option value="Bosnia and Herzegovina" data-id="ihus0oxo0000vah">ボスニア・ヘルツェゴビナ</option>
                                                <option value="Botswana" data-id="ihus0oxx0000bva">ボツワナ</option>
                                                <option value="Bolivia" data-id="ihus0oxs0000gvr">ボリビア</option>
                                                <option value="Portugal" data-id="ihus0p2700000k2">ポルトガル</option>
                                                <option value="Poland" data-id="ihus0p240000l0n">ポーランド</option>
                                                <option value="Macedonia" data-id="ihus0p120000nhj">マケドニア</option>
                                                <option value="Madagascar" data-id="ihus0p100000r3m">マダガスカル</option>
                                                <option value="Malawi" data-id="ihus0p1c0000iuv">マラウイ</option>
                                                <option value="Mali" data-id="ihus0p130000gp8">マリ</option>
                                                <option value="Malaysia" data-id="ihus0p1e0000lqc">マレーシア</option>
                                                <option value="South Africa" data-id="ihus0p4400002op">南アフリカ</option>
                                                <option value="South Sudan" data-id="ihus0p2m0000hjm">南スーダン</option>
                                                <option value="Myanmar" data-id="ihus0p150000hrn">ミャンマー</option>
                                                <option value="Mexico" data-id="ihus0p110000mq9">メキシコ</option>
                                                <option value="Mozambique" data-id="ihus0p1a0000bo4">モザンビーク</option>
                                                <option value="Moldova" data-id="ihus0p0y00004gs">モルドバ</option>
                                                <option value="Morocco" data-id="ihus0p0x0000gf1">モロッコ</option>
                                                <option value="Mongolia" data-id="ihus0p180000b9t">モンゴル</option>
                                                <option value="Montenegro" data-id="ihus0p170000q7k">モンテネグロ</option>
                                                <option value="Mauritania" data-id="ihus0p1b0000b9g">モーリタニア</option>
                                                <option value="Jordan" data-id="ihus0p0800004ve">ヨルダン</option>
                                                <option value="West Bank" data-id="ihus0p410000tht">ヨルダン川西岸地区</option>
                                                <option value="Laos" data-id="ihus0p0k000029f">ラオス</option>
                                                <option value="Latvia" data-id="ihus0p0v00005xy">ラトビア</option>
                                                <option value="Lithuania" data-id="ihus0p0s0000ft6">リトアニア</option>
                                                <option value="Libya" data-id="ihus0p0o0000mzr">リビア</option>
                                                <option value="Liberia" data-id="ihus0p0n0000mm8">リベリア</option>
                                                <option value="Luxembourg" data-id="ihus0p0t0000wlr">ルクセンブルク</option>
                                                <option value="Rwanda" data-id="ihus0p2g0000cuw">ルワンダ</option>
                                                <option value="Romania" data-id="ihus0p2b0000ew0">ルーマニア</option>
                                                <option value="Lesotho" data-id="ihus0p0r0000tky">レソト</option>
                                                <option value="Lebanon" data-id="ihus0p0l0000u5n">レバノン</option>
                                                <option value="Russia" data-id="ihus0p2f0000fs1">ロシア</option>
      
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_description">概要<span class="required">*</span></label>
                                            <textarea class="form-control" id="reg_description" name="reg_description" placeholder="起きてしまった出来事のあらまし" cols="45" row="10"></textarea>
                                            <p class="help=block">※ 10 ~ 200字以内</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_death">亡くなった人数<span class="required">*</span></label>
                                            <input type="number" class="form-control" id="reg_death" name="reg_death" value="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_link">参照リンク</label>
                                            <input type="url" class="form-control" id="reg_link" name="reg_link">
                                        </div>
                                    </div>
                                    <button type="submit" class="login-button" onclick='return confirm("これでよろしいですか？");'><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>