<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="テロの歴史を振り返るサイト">

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Mustn't Forget</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">

    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.world.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
</head>



<body>
    <section class="world">
        <br>
        <img src="images/logo.png" style="margin: 0 auto;">
        <div id="world" style="position: relative; width: 1000px; height: 600px; margin: 0 auto;"></div>
        <br>
    </section>

    <section class="timeline">
        <ul>
            <li>
                <div class="timeline__date">2008:</div>
                <p>Graduated London Design School</p>
            </li>
            <li>
                <div class="timeline__date">2010:</div>
                <p>Art Director at Sensa Nostra</p>
            </li>
            <li>
                <div class="timeline__date">2010-2013:</div>
                <p>Freelancer in Berlin</p>
            </li>
        </ul>
    </section>

    <section class="form">
        日付:<input type="date" class="date" id="date"><br>
        内容:<input type="text" class="description" id="description"><br>
        死亡者数:<input type="number" class="death" class="death"><br>
        国:
        <select name="country" size="4">
            <% country.forEach(function(c) { %>
                <option value="<%= c.country_id %>" data-id="<%= c.id %>"><%= c.name %></option>
            <% }) %>
        </select>

        <input type="submit" value="送信する">
        <input type="reset" value="入力内容をリセットする">

    </section>

</body>
</html>