<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="テロの歴史を振り返るサイト">

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Mustn't Forget</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">

    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.world.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>


    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
</head>


<body>
    <section class="header">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/logo.png" style="margin: 0 auto;">
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <section class="world">
                <div id="world" style="position: relative; width: 100%; height: 550px;"></div>
            </section>
        </div>

        <div class="col-sm-12 col-md-4">

            <section class="timeline">
                <h1>Timeline Concept</h1>
                <div>
                    <ul class="timeline">
                        <li class="event" data-date="12:30 - 1:00pm">
                            <h3>Registration</h3>
                            <p>明日遊べる？さzまおsかおさもさこえあこrまおらら</p>
                        </li>
                        <li class="event" data-date="2:30 - 4:00pm">
                            <h3>Opening Ceremony</h3>
                            <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>    
                        </li>
                        <li class="event" data-date="5:00 - 8:00pm">
                            <h3>Main Event</h3>
                            <p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>    
                        </li>
                        <li class="event" data-date="8:30 - 9:30pm">
                            <h3>Closing Ceremony</h3>
                            <p>See how is the victor and who are the losers. The big stage is where the winners bask in their own   glory.</p>    
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg" id="button" data-toggle="modal" data-target="#form">追加する</button>

    <!-- モーダルフォーム -->
    <div class="modal" id="form" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center" style="padding: 0; margin-top: -10px;">
                        <!-- メインのフォーム -->
                        <div class="login-form-1">
                            <form id="register-form" class="text-left" method="post">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="reg_date">起きてしまった日付<span class="required">*</span></label>
                                            <input type="date" class="form-control" id="reg_date" name="reg_date">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_country">起きてしまった国<span class="required">*</span></label>
                                            <select name="country" size="4" id="country" class="form-control" data-size="3">
                                                <option value="0" selected>選択してください</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_description">概要<span class="required">*</span></label>
                                            <textarea class="form-control" id="reg_description" name="reg_description" placeholder="起きてしまった出来事のあらまし" cols="45" row="10"></textarea>
                                            <p class="help=block">※ 10 ~ 200字以内</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_death">亡くなった人数<span class="required">*</span></label>
                                            <input type="number" class="form-control" id="reg_death" name="reg_death" value="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_link">参照リンク</label>
                                            <input type="url" class="form-control" id="reg_link" name="reg_link">
                                        </div>
                                    </div>
                                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
                </div>
                -->
            </div>
        </div>
    </div>

    <section class="footer">
            <hr>
            <p>&copy; 2015 hyde2able ( hyde14142@gmail.com )</p>
    </section>





</body>
</html>