<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="テロの歴史を振り返るサイト">

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Mustn't Forget</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.world.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>


    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/timeline.js"></script>
</head>



<body>
    <section class="world">
        <br>
        <img src="images/logo.png" style="margin: 0 auto;">
        <div id="world" style="position: relative; width: 1000px; height: 600px; margin: 0 auto;"></div>
        <br>
    </section>

    <section class="timeline">
        <ul>
            <li>
                <div class="timeline__date">2008:</div>
                <p>Graduated London Design School</p>
            </li>
            <li>
                <div class="timeline__date">2010:</div>
                <p>Art Director at Sensa Nostra</p>
            </li>
            <li>
                <div class="timeline__date">2010-2013:</div>
                <p>Freelancer in Berlin</p>
            </li>
        </ul>
    </section>



    <button type="button" class="btn btn-default btn-lg" id="button" data-toggle="modal" data-target="#form">追加する</button>

    <!-- モーダルフォーム -->
    <div class="modal" id="form" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center" style="padding: 50px 0;">
                        <div class="logo"><h1>追加する</h1></div>
                        <!-- メインのフォーム -->
                        <div class="login-form-1">
                            <form id="register-form" class="text-left" method="post">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="reg_date">起きた日付<span class="required">*</span></label>
                                            <input type="date" class="form-control" id="reg_date" name="reg_date">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_country">起きた国<span class="required">*</span></label>
                                            <select name="country" size="4" id="country" class="form-control" data-size="3">
                                                <option value="0" selected>選択してください</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_description">概要<span class="required">*</span></label>
                                            <textarea class="form-control" id="reg_description" name="reg_description" placeholder="できごとの内容" cols="45" row="10"></textarea>
                                            <p class="help=block">※ 10 ~ 200字以内</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_death">死亡者数<span class="required">*</span></label>
                                            <input type="number" class="form-control" id="reg_death" name="reg_death" value="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="reg_link">参照リンク</label>
                                            <input type="url" class="form-control" id="reg_link" name="reg_link">
                                        </div>
                                    </div>
                                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
                </div>
            </div>
        </div>
    </div>






</body>
</html>