<div id="infomodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 class="modal-title">Mustn't Forget とは</h3>
            </div>  

            <div class="modal-body">
                <b class="text-primary">世界で起きているテロを知るプラットフォーム</b>
                <br><br>
                <p>ある日テレビを見ていたら、池上彰がテロの解説をしていた。番組は『なぜ今回パリが同時テロの場所に選ばれたか』とか『どうやってテロを防ぐか』といった内容で、パリ同時テロがあったこともあって普通にテレビを見ていたら、こんなことも言っていた。</p>
                <p class="text-danger">『テロは世界中で一年に1万件以上起きている』</p>
                <p>「えっまじか。」これが正直な感想。</p>
                <p>日本は外務省が発表したテロの脅威マップでも世界の中で比較的安全な国とされている。そんなわけもあってか自分も普段テロなんて考えないし、ましてやこんなに世界中でテロが起きているなんて思いもしなかった。気になったから世界中のテロについて調べてみた...<b>出てこない</b>。テロと調べればパリ同時テロが。</p>
                <p>
                有名なテロという言い方はおかしいけれど、ある程度知名度のある地域でのテロしか日本では特に取り上げておらず、情報も断片的すぎてイマイチ、世界中で毎日テロが起きていることが実感できない。テロがどれだけ起こっているかを実感してどうかしろ！って訳ではないけれど、ただただテロの現状とか世界でどういう風に何が起きているかが気になったからこのサイトを作りました。そして、こういったテロが世界で日々起きていることを「忘れてはならない」ということで、シンプルに「Mustn't Forget」と。</p>
                <p>自分も詳しい訳じゃないが、単純に世界で起きているテロはパリ同時テロだけじゃないということを知ってほしい。</p>
                <blockquote>
                    <p>パリのことばかり語られる一方で、昨日レバノンで起きたISのテロのことは語られない。私は両方の国のために祈りたい</p>
                    <footer>アンジェリーナジョリー</footer>
                </blockquote>
                
                <p>変な投稿がありましたら下記のメールに連絡を頂けると対応するので、宜しくお願いします。</p>

            </div>

            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
