/* Import */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
/* Variables */
/* Base */
/*body {
  background: #252827;
  font-size: 16px;
}*/
strong {
  font-weight: 600;
}
h1 {
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2.4em;
}
#content {
  text-align: left;
}
/* Timeline */
ul.timeline {
  border-left: 4px solid #4298c3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 400px;
}
ul.timeline h1,
ul.timeline h2,
ul.timeline h3 {
  font-weight: 100;
  font-size: 1.4em;
  color: black;
}
ul.timeline p {
  color: black;
}
ul.timeline .event {
  border-bottom: 2px dashed rgba(104, 104, 104, 0.8);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  left: 0px;
}
ul.timeline .level1 {
  border-bottom-color: '#F4CC48';
}
ul.timeline .level2 {
  border-bottom-color: '#EDA648';
}
ul.timeline .level3 {
  border-bottom-color: '#FF5E48';
}
ul.timeline .level4 {
  border-bottom-color: '#874140';
}
ul.timeline .level5 {
  border-bottom-color: '#FF0007';
}
ul.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
ul.timeline .event:before,
ul.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
ul.timeline .event:before {
  left: -65px;
  top: -30px;
  color: #000;
  //color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 1em;
  min-width: 120px;
}
ul.timeline .event:after {
  box-shadow: 0 0 0 4px #4298c3;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

ul.timeline a {
  position: relative;
  color: #F55050;
  text-decoration: none;
  transition: .3s; }
  ul.timeline a:after {
    content: "リンク先：" attr(href);
    position: absolute;
    top: -3em;
    left: -10px;
    margin: 0 auto;
    padding: 4px 6px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-family: Verdana,sans-serif;
    white-space: nowrap;
    transition: .3s;
    transform: scaleY(0); }
  ul.timeline a:hover {
    color: #289DCC; }
    ul.timeline a:hover:after {
      transform: scale(1); }
